# Core
pandas
numpy
openpyxl
aiohttp
requests
tenacity
nest_asyncio
beautifulsoup4
unidecode
scikit-learn
matplotlib
python-dotenv
jupyter

# LangChain + Groq
langchain
langchain_groq

# DuckDuckGo Search (elige uno)
duckduckgo-search>=6.3.0
ddgs

tldextract
rapidfuzz
chardet
lxml
